Sugestão do chatgpt

Introdução: Explorando Tendências no Mercado Automotivo

O mercado automotivo é um setor dinâmico e em constante evolução, onde as preferências dos consumidores, as inovações tecnológicas e os padrões econômicos desempenham papéis cruciais na determinação das tendências de venda e no sucesso das empresas. Com um vasto conjunto de dados à nossa disposição, propomos uma análise abrangente para desvendar os padrões subjacentes e as dinâmicas do mercado de carros.

Nossa análise visa oferecer uma visão panorâmica, abordando uma variedade de aspectos, desde o perfil demográfico dos compradores até a influência de diferentes atributos do veículo no comportamento do consumidor. Ao mergulhar nas camadas de dados disponíveis, buscamos identificar correlações significativas, tendências emergentes e insights valiosos que possam informar estratégias de negócios e tomadas de decisão fundamentadas.

Ao compreender as nuances do mercado automotivo, esperamos fornecer informações cruciais não apenas para fabricantes e revendedores de automóveis, mas também para consumidores que buscam tomar decisões informadas de compra. Nossa análise pretende ser uma ferramenta poderosa para orientar estratégias de marketing, desenvolvimento de produtos e expansão de mercado, capacitando as empresas a se adaptarem às demandas em constante mudança do setor automotivo.

Nesta jornada de exploração de dados, estamos ansiosos para desvendar os segredos por trás das tendências do mercado automotivo e oferecer insights valiosos que possam impulsionar o sucesso e a inovação neste setor crucial da economia global.

**1. Análise de Vendas por Região do Revendedor:** Você pode agrupar os dados pelo "Dealer_Region" e analisar as vendas totais ou médias em cada região.

**2. Segmentação de Clientes por Gênero e Renda Anual:** Explore a distribuição de gênero entre os clientes e como ela se relaciona com a renda anual. Isso pode ajudar a identificar padrões de compra entre diferentes grupos demográficos.

**3. Preço Médio por Modelo de Carro:** Analise o preço médio de venda para cada modelo de carro. Isso pode ajudar a identificar quais modelos têm maior demanda ou valor de mercado.

**4. Distribuição de Cores de Carros Vendidos:** Determine as cores mais populares entre os carros vendidos. Isso pode ser útil para entender as preferências dos clientes em termos de estética.

**5. Análise Temporal de Vendas:** Explore padrões sazonais ou tendências ao longo do tempo analisando as vendas em relação à data.

**6. Desempenho de Revendedores:** Compare o desempenho de diferentes revendedores em termos de número de vendas, receita gerada ou satisfação do cliente.

**7. Análise de Correlação:** Explore se existe alguma correlação entre variáveis, como preço do carro e renda anual do cliente.

**8. Distribuição de Estilos de Carro Vendidos:** Analise a distribuição dos estilos de carro vendidos (por exemplo, sedan, SUV, hatchback) para entender as preferências do mercado.

**9. Análise de Engenharia e Transmissão por Modelo:** Veja se há alguma preferência específica de engenharia (por exemplo, motor de 4 cilindros, 6 cilindros) ou tipo de transmissão (automático, manual) para cada modelo de carro.

**10. Análise de Satisfação do Cliente:** Explore a relação entre o nome do cliente, o revendedor e possivelmente outras variáveis para entender os níveis de satisfação do cliente e identificar áreas para melhoria.

**11. Análise de Distribuição de Idade dos Clientes:** Se houver informações sobre a idade dos clientes, você pode analisar a distribuição etária dos compradores de carros.

**12. Variação de Preço por Cor e Estilo do Carro:** Analise se há variação de preço com base na cor ou estilo do carro. Isso pode ajudar a determinar se certas características têm impacto no valor de mercado.

**13. Análise de Demanda por Região e Estilo do Carro:** Explore se a demanda por diferentes estilos de carro varia entre as regiões dos revendedores.

**14. Análise de Desempenho do Modelo de Carro ao Longo do Tempo:** Analise como o desempenho de vendas de um determinado modelo de carro evolui ao longo do tempo desde o seu lançamento.

**15. Análise de Engajamento do Cliente com o Revendedor:** Explore a frequência de compra ou interação dos clientes com os revendedores ao longo do tempo.

**16. Análise de Sazonalidade nas Vendas de Carros:** Identifique padrões sazonais nas vendas de carros, como picos de vendas durante determinadas épocas do ano.

**17. Análise de Lucratividade por Modelo de Carro e Revendedor:** Determine quais modelos de carro e revendedores são mais lucrativos com base nas margens de lucro.

**18. Análise de Preferências de Transmissão por Gênero:** Explore se há diferenças nas preferências de transmissão entre clientes de diferentes gêneros.

**19. Análise de Lealdade do Cliente:** Analise se os clientes tendem a comprar repetidamente da mesma marca ou revendedor ao longo do tempo.

**20. Análise de Correlação entre Características do Carro e Preço:** Investigação de possíveis correlações entre características específicas do carro, como tamanho do motor, tipo de transmissão ou cor, e o preço de venda.

In [1]:
# importação das bibliotecas
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Leitura do dataset
dados = pd.read_csv('Car Sales.csv')

In [3]:
# Visualização dos dados
dados

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,C_CND_023902,12/31/2023,Martin,Male,13500,C & M Motors Inc,Plymouth,Voyager,Overhead Camshaft,Manual,Red,12000,60504-7114,Passenger,8583598,Pasco
23902,C_CND_023903,12/31/2023,Jimmy,Female,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,DoubleÂ Overhead Camshaft,Auto,Black,16000,06457-3834,Hardtop,7914229,Middletown
23903,C_CND_023904,12/31/2023,Emma,Male,705000,Chrysler of Tri-Cities,BMW,328i,Overhead Camshaft,Manual,Red,21000,99301-3882,Sedan,7659127,Scottsdale
23904,C_CND_023905,12/31/2023,Victoire,Male,13500,Chrysler Plymouth,Chevrolet,Metro,DoubleÂ Overhead Camshaft,Auto,Black,31000,53546-9427,Passenger,6030764,Austin
23905,C_CND_023906,12/31/2023,Donovan,Male,1225000,Pars Auto Sales,Lexus,ES300,DoubleÂ Overhead Camshaft,Auto,Pale White,27500,38701-8047,Hardtop,7020564,Middletown

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_id         23906 non-null  object
 1   Date           23906 non-null  object
 2   Customer Name  23905 non-null  object
 3   Gender         23906 non-null  object
 4   Annual Income  23906 non-null  int64
 5   Dealer_Name    23906 non-null  object
 6   Company        23906 non-null  object
 7   Model          23906 non-null  object
 8   Engine         23906 non-null  object
 9   Transmission   23906 non-null  object
 10  Color          23906 non-null  object
 11  Price ($)      23906 non-null  int64
 12  Dealer_No      23906 non-null  object
 13  Body Style     23906 non-null  object
 14  Phone          23906 non-null  int64
 15  Dealer_Region  23906 non-null  object
dtypes: int64(3), object(13)
memory usage: 2.9+ MB

In [5]:
dados.describe()

       Annual Income     Price ($)         Phone
count   2.390600e+04  23906.000000  2.390600e+04
mean    8.308403e+05  28090.247846  7.497741e+06
std     7.200064e+05  14788.687608  8.674920e+05
min     1.008000e+04   1200.000000  6.000101e+06
25%     3.860000e+05  18001.000000  6.746495e+06
50%     7.350000e+05  23000.000000  7.496198e+06
75%     1.175750e+06  34000.000000  8.248146e+06
max     1.120000e+07  85800.000000  8.999579e+06

In [6]:
dados = dados.drop(columns = ['Car_id', 'Customer Name', 'Dealer_No ', 'Phone'], axis = 1)
dados.head()

,Date,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Dealer_Region
0,1/2/2022,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,SUV,Middletown
1,1/2/2022,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,SUV,Aurora
2,1/2/2022,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,Passenger,Greenville
3,1/2/2022,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,SUV,Pasco
4,1/2/2022,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,Hatchback,Janesville

In [7]:
dados.columns

Index(['Date', 'Gender', 'Annual Income', 'Dealer_Name', 'Company', 'Model',
       'Engine', 'Transmission', 'Color', 'Price ($)', 'Body Style',
       'Dealer_Region'],
      dtype='object')

In [8]:
dados['Date'] = pd.to_datetime(dados['Date'])
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           23906 non-null  datetime64[ns]
 1   Gender         23906 non-null  object
 2   Annual Income  23906 non-null  int64
 3   Dealer_Name    23906 non-null  object
 4   Company        23906 non-null  object
 5   Model          23906 non-null  object
 6   Engine         23906 non-null  object
 7   Transmission   23906 non-null  object
 8   Color          23906 non-null  object
 9   Price ($)      23906 non-null  int64
 10  Body Style     23906 non-null  object
 11  Dealer_Region  23906 non-null  object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 2.2+ MB

**1. Análise de Vendas por Região do Revendedor:** Você pode agrupar os dados pelo "Dealer_Region" e analisar as vendas totais ou médias em cada região.

In [9]:
dados.groupby('Dealer_Region')['Price ($)'].agg(['sum', 'mean'])

                     sum          mean
Dealer_Region
Aurora          88687382  28334.626837
Austin         117192531  28341.603628
Greenville      88149602  28180.819054
Janesville     106351234  27833.350955
Middletown      87134628  27856.338875
Pasco           88040714  28119.039923
Scottsdale      95969374  27954.958928

**2. Segmentação de Clientes por Gênero e Renda Anual:** Explore a distribuição de gênero entre os clientes e como ela se relaciona com a renda anual. Isso pode ajudar a identificar padrões de compra entre diferentes grupos demográficos.

In [10]:
dados.groupby('Gender')[['Annual Income']].agg(['count', 'mean'])

       Annual Income
               count           mean
Gender
Female          5108  755973.021339
Male           18798  851184.044207

**3. Preço Médio por Modelo de Carro:** Analise o preço médio de venda para cada modelo de carro. Isso pode ajudar a identificar quais modelos têm maior demanda ou valor de mercado.

In [11]:
# 10 modelos mais caros
dados.groupby('Model')['Price ($)'].mean().head(10)

Model
3-Sep      37986.380117
3000GT     22282.250825
300M       21394.888889
323i       17355.634615
328i       27821.359223
4Runner    29233.017241
5-Sep      30070.769231
528i       29561.503086
A4         19705.656863
A6         22662.984802
Name: Price ($), dtype: float64

**4. Distribuição de Cores de Carros Vendidos:** Determine as cores mais populares entre os carros vendidos. Isso pode ser útil para entender as preferências dos clientes em termos de estética.

In [12]:
dados['Color'].value_counts()

Color
Pale White    11256
Black          7857
Red            4793
Name: count, dtype: int64

**5. Análise Temporal de Vendas:** Explore padrões sazonais ou tendências ao longo do tempo analisando as vendas em relação à data.

In [13]:
dados_temporais = dados.copy()

dados_temporais['Year'] = dados_temporais['Date'].dt.year
dados_temporais['Month'] = dados_temporais['Date'].dt.month
dados_temporais['Month_name'] = dados_temporais['Date'].dt.strftime('%B')

In [14]:
dados_temporais.head()

,Date,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Dealer_Region,Year,Month,Month_name
0,2022-01-02,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,SUV,Middletown,2022,1,January
1,2022-01-02,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,SUV,Aurora,2022,1,January
2,2022-01-02,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,Passenger,Greenville,2022,1,January
3,2022-01-02,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,SUV,Pasco,2022,1,January
4,2022-01-02,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,Hatchback,Janesville,2022,1,January

In [15]:
dados_temporais.groupby('Year')['Price ($)'].agg(['count', 'sum', 'mean'])

      count        sum          mean
Year
2022  10645  300340345  28214.217473
2023  13261  371185120  27990.733730

In [16]:
dados_temporais.groupby('Month')['Price ($)'].agg(['count', 'sum', 'mean'])

       count       sum          mean
Month
1        790  21696218  27463.567089
2        735  20643945  28087.000000
3       1535  41705873  27169.949837
4       1655  46864434  28316.878550
5       1895  53221243  28085.088654
6       1715  48505902  28283.324781
7       1725  48178032  27929.293913
8       1705  48793638  28617.969501
9       3305  93635178  28331.370045
10      1830  52035265  28434.571038
11      3470  96979678  27948.034006
12      3546  99266059  27993.812465

In [17]:
dados_temporais.groupby(['Year', 'Month'])['Price ($)'].agg(['count', 'sum', 'mean'])

            count       sum          mean
Year Month
2022 1        315   8931920  28355.301587
     2        320   8795365  27485.515625
     3        705  19502059  27662.495035
     4        800  22748867  28436.083750
     5        750  20608086  27477.448000
     6        690  19604211  28411.900000
     7        700  19935002  28478.574286
     8        810  23631362  29174.520988
     9       1475  42218216  28622.519322
     10       835  23991509  28732.346108
     11      1620  45389290  28018.080247
     12      1625  44984458  27682.743385
2023 1        475  12764298  26872.206316
     2        415  11848580  28550.795181
     3        830  22203814  26751.583133
     4        855  24115567  28205.341520
     5       1145  32613157  28483.106550
     6       1025  28901691  28196.771707
     7       1025  28243030  27554.175610
     8        895  25162276  28114.274860
     9       1830  51416962  28096.700546
     10       995  28043756  28184.679397
     11      1850  51590388  27886.696216
     12      1921  54281601  28256.950026

**6. Desempenho de Revendedores:** Compare o desempenho de diferentes revendedores em termos de número de vendas, receita gerada ou satisfação do cliente.

In [18]:
dados.groupby('Dealer_Name')['Price ($)'].agg(['count', 'sum'])

                                                 count       sum
Dealer_Name
Buddy Storbeck's Diesel Service Inc                627  17065223
C & M Motors Inc                                   625  17569847
Capitol KIA                                        628  17703134
Chrysler Plymouth                                  625  17222204
Chrysler of Tri-Cities                             626  17605055
Classic Chevy                                      623  17819055
Clay Johnson Auto Sales                            627  17440649
Diehl Motor CO Inc                                 624  17468212
Enterprise Rent A Car                              625  17695363
Gartner Buick Hyundai Saab                         628  17739506
Hatfield Volkswagen                                629  17519985
Iceberg Rentals                                    627  17883895
McKinney Dodge Chrysler Jeep                       629  17413297
Motor Vehicle Branch Office                        626  17500919
Nebo Chevrolet                                     633  17609357
New Castle Ford Lincoln Mercury                    629  17528426
Pars Auto Sales                                    630  17648228
Pitre Buick-Pontiac-Gmc of Scottsdale              628  17209868
Progressive Shippers Cooperative Association No   1318  36751460
Rabun Used Car Sales                              1313  37456655
Race Car Help                                     1253  35288706
Ryder Truck Rental and Leasing                    1248  34837906
Saab-Belle Dodge                                  1251  35265865
Scrivener Performance Engineering                 1246  35258525
Star Enterprises Inc                              1249  35113206
Suburban Ford                                     1243  34943473
Tri-State Mack Inc                                1249  35091357
U-Haul CO                                         1247  35876089

**7. Análise de Correlação:** Explore se existe alguma correlação entre variáveis, como preço do carro e renda anual do cliente.

In [19]:
dados['Body Style'].value_counts()

Body Style
SUV          6374
Hatchback    6128
Sedan        4488
Passenger    3945
Hardtop      2971
Name: count, dtype: int64

In [20]:
mapeamento = {'Male': 0, 'Female': 1, 
              'DoubleÂ Overhead Camshaft': 0, 'Overhead Camshaft': 1,
              'Auto': 0, 'Manual': 1}
dados_mapeados = dados.copy()
dados_mapeados['Gender'] = dados['Gender'].map(mapeamento)
dados_mapeados['Engine'] = dados['Engine'].map(mapeamento)
dados_mapeados['Transmission'] = dados['Transmission'].map(mapeamento)
dados_mapeados

,Date,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Dealer_Region
0,2022-01-02,0,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,NaN,0,Black,26000,SUV,Middletown
1,2022-01-02,0,1480000,C & M Motors Inc,Dodge,Durango,NaN,0,Black,19000,SUV,Aurora
2,2022-01-02,0,1035000,Capitol KIA,Cadillac,Eldorado,1.0,1,Red,31500,Passenger,Greenville
3,2022-01-02,0,13500,Chrysler of Tri-Cities,Toyota,Celica,1.0,1,Pale White,14000,SUV,Pasco
4,2022-01-02,0,1465000,Chrysler Plymouth,Acura,TL,NaN,0,Red,24500,Hatchback,Janesville
...,...,...,...,...,...,...,...,...,...,...,...,...
23901,2023-12-31,0,13500,C & M Motors Inc,Plymouth,Voyager,1.0,1,Red,12000,Passenger,Pasco
23902,2023-12-31,1,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,NaN,0,Black,16000,Hardtop,Middletown
23903,2023-12-31,0,705000,Chrysler of Tri-Cities,BMW,328i,1.0,1,Red,21000,Sedan,Scottsdale
23904,2023-12-31,0,13500,Chrysler Plymouth,Chevrolet,Metro,NaN,0,Black,31000,Passenger,Austin
23905,2023-12-31,0,1225000,Pars Auto Sales,Lexus,ES300,NaN,0,Pale White,27500,Hardtop,Middletown

In [21]:
dados_encoded = pd.get_dummies(dados_mapeados['Color'], prefix='Color').astype(int)
dados_mapeados = pd.concat([dados_mapeados, dados_encoded], axis=1)
dados_mapeados

,Date,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Dealer_Region,Color_Black,Color_Pale White,Color_Red
0,2022-01-02,0,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,NaN,0,Black,26000,SUV,Middletown,1,0,0
1,2022-01-02,0,1480000,C & M Motors Inc,Dodge,Durango,NaN,0,Black,19000,SUV,Aurora,1,0,0
2,2022-01-02,0,1035000,Capitol KIA,Cadillac,Eldorado,1.0,1,Red,31500,Passenger,Greenville,0,0,1
3,2022-01-02,0,13500,Chrysler of Tri-Cities,Toyota,Celica,1.0,1,Pale White,14000,SUV,Pasco,0,1,0
4,2022-01-02,0,1465000,Chrysler Plymouth,Acura,TL,NaN,0,Red,24500,Hatchback,Janesville,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,2023-12-31,0,13500,C & M Motors Inc,Plymouth,Voyager,1.0,1,Red,12000,Passenger,Pasco,0,0,1
23902,2023-12-31,1,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,NaN,0,Black,16000,Hardtop,Middletown,1,0,0
23903,2023-12-31,0,705000,Chrysler of Tri-Cities,BMW,328i,1.0,1,Red,21000,Sedan,Scottsdale,0,0,1
23904,2023-12-31,0,13500,Chrysler Plymouth,Chevrolet,Metro,NaN,0,Black,31000,Passenger,Austin,1,0,0
23905,2023-12-31,0,1225000,Pars Auto Sales,Lexus,ES300,NaN,0,Pale White,27500,Hardtop,Middletown,0,1,0

In [22]:
dados_encoded = pd.get_dummies(dados_mapeados['Body Style'], prefix='Body Style').astype(int)
dados_mapeados = pd.concat([dados_mapeados, dados_encoded], axis=1)
dados_mapeados

,Date,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Dealer_Region,Color_Black,Color_Pale White,Color_Red,Body Style_Hardtop,Body Style_Hatchback,Body Style_Passenger,Body Style_SUV,Body Style_Sedan
0,2022-01-02,0,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,NaN,0,Black,26000,SUV,Middletown,1,0,0,0,0,0,1,0
1,2022-01-02,0,1480000,C & M Motors Inc,Dodge,Durango,NaN,0,Black,19000,SUV,Aurora,1,0,0,0,0,0,1,0
2,2022-01-02,0,1035000,Capitol KIA,Cadillac,Eldorado,1.0,1,Red,31500,Passenger,Greenville,0,0,1,0,0,1,0,0
3,2022-01-02,0,13500,Chrysler of Tri-Cities,Toyota,Celica,1.0,1,Pale White,14000,SUV,Pasco,0,1,0,0,0,0,1,0
4,2022-01-02,0,1465000,Chrysler Plymouth,Acura,TL,NaN,0,Red,24500,Hatchback,Janesville,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23901,2023-12-31,0,13500,C & M Motors Inc,Plymouth,Voyager,1.0,1,Red,12000,Passenger,Pasco,0,0,1,0,0,1,0,0
23902,2023-12-31,1,900000,Ryder Truck Rental and Leasing,Chevrolet,Prizm,NaN,0,Black,16000,Hardtop,Middletown,1,0,0,1,0,0,0,0
23903,2023-12-31,0,705000,Chrysler of Tri-Cities,BMW,328i,1.0,1,Red,21000,Sedan,Scottsdale,0,0,1,0,0,0,0,1
23904,2023-12-31,0,13500,Chrysler Plymouth,Chevrolet,Metro,NaN,0,Black,31000,Passenger,Austin,1,0,0,0,0,1,0,0
23905,2023-12-31,0,1225000,Pars Auto Sales,Lexus,ES300,NaN,0,Pale White,27500,Hardtop,Middletown,0,1,0,1,0,0,0,0

In [24]:
dados_mapeados = dados_mapeados.drop(columns = ['Date', 'Dealer_Name', 'Company', 'Model', 'Color', 'Body Style', 'Dealer_Region'])

In [25]:
dados_mapeados.corr()

,Gender,Annual Income,Engine,Transmission,Price ($),Color_Black,Color_Pale White,Color_Red,Body Style_Hardtop,Body Style_Hatchback,Body Style_Passenger,Body Style_SUV,Body Style_Sedan
Gender,1.000000,-0.054204,NaN,-0.002647,0.006592,-0.005607,0.008777,-0.004364,0.003770,-0.002658,0.011016,-0.006216,-0.003646
Annual Income,-0.054204,1.000000,NaN,-0.006598,0.012065,0.001825,0.000827,-0.003171,-0.004974,0.016581,-0.006474,-0.006258,-0.001096
Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Transmission,-0.002647,-0.006598,NaN,1.000000,-0.011271,-0.007203,0.003018,0.004688,0.039183,-0.045202,0.012296,0.050351,-0.051268
Price ($),0.006592,0.012065,NaN,-0.011271,1.000000,0.022453,-0.038677,0.021878,0.027024,-0.038240,0.025606,-0.053925,0.056649
Color_Black,-0.005607,0.001825,NaN,-0.007203,0.022453,1.000000,-0.660011,-0.350384,-0.006332,0.001827,0.006100,0.030834,-0.037408
Color_Pale White,0.008777,0.000827,NaN,0.003018,-0.038677,-0.660011,1.000000,-0.472374,0.015273,0.003775,-0.023814,-0.010454,0.017351
Color_Red,-0.004364,-0.003171,NaN,0.004688,0.021878,-0.350384,-0.472374,1.000000,-0.011612,-0.006850,0.022532,-0.023142,0.022256
Body Style_Hardtop,0.003770,-0.004974,NaN,0.039183,0.027024,-0.006332,0.015273,-0.011612,1.000000,-0.221173,-0.167474,-0.227146,-0.181109
Body Style_Hatchback,-0.002658,0.016581,NaN,-0.045202,-0.038240,0.001827,0.003775,-0.006850,-0.221173,1.000000,-0.261006,-0.354004,-0.282255
Body Style_Passenger,0.011016,-0.006474,NaN,0.012296,0.025606,0.006100,-0.023814,0.022532,-0.167474,-0.261006,1.000000,-0.268054,-0.213726
Body Style_SUV,-0.006216,-0.006258,NaN,0.050351,-0.053925,0.030834,-0.010454,-0.023142,-0.227146,-0.354004,-0.268054,1.000000,-0.289877
Body Style_Sedan,-0.003646,-0.001096,NaN,-0.051268,0.056649,-0.037408,0.017351,0.022256,-0.181109,-0.282255,-0.213726,-0.289877,1.000000

**8. Distribuição de Estilos de Carro Vendidos:** Analise a distribuição dos estilos de carro vendidos (por exemplo, sedan, SUV, hatchback) para entender as preferências do mercado.

In [28]:
dados['Body Style'].value_counts()

Body Style
SUV          6374
Hatchback    6128
Sedan        4488
Passenger    3945
Hardtop      2971
Name: count, dtype: int64

**9. Análise de Engenharia e Transmissão por Modelo:** Veja se há alguma preferência específica de engenharia (por exemplo, motor de 4 cilindros, 6 cilindros) ou tipo de transmissão (automático, manual) para cada modelo de carro.

In [32]:
frequencia = pd.crosstab(dados['Engine'],
                         dados['Transmission'])
frequencia

Transmission                Auto  Manual
Engine
DoubleÂ Overhead Camshaft  12571       0
Overhead Camshaft              0   11335

**12. Variação de Preço por Cor e Estilo do Carro:** Analise se há variação de preço com base na cor ou estilo do carro. Isso pode ajudar a determinar se certas características têm impacto no valor de mercado.

In [37]:
dados.groupby(['Body Style', 'Color'])['Price ($)'].agg(['count', 'mean'])

                       count          mean
Body Style Color
Hardtop    Black         953  28671.027282
           Pale White   1459  29433.600411
           Red           559  29232.193202
Hatchback  Black        2023  29032.162630
           Pale White   2905  25885.319105
           Red          1200  26921.297500
Passenger  Black        1322  29384.076399
           Pale White   1752  27773.763699
           Red           871  30621.047072
SUV        Black        2248  25813.882117
           Pale White   2946  26342.702308
           Red          1180  29645.712712
Sedan      Black        1311  31657.290618
           Pale White   2194  29604.813127
           Red           983  27908.393693

**13. Análise de Demanda por Região e Estilo do Carro:** Explore se a demanda por diferentes estilos de carro varia entre as regiões dos revendedores.

**14. Análise de Desempenho do Modelo de Carro ao Longo do Tempo:** Analise como o desempenho de vendas de um determinado modelo de carro evolui ao longo do tempo desde o seu lançamento.

**15. Análise de Engajamento do Cliente com o Revendedor:** Explore a frequência de compra ou interação dos clientes com os revendedores ao longo do tempo.

**16. Análise de Sazonalidade nas Vendas de Carros:** Identifique padrões sazonais nas vendas de carros, como picos de vendas durante determinadas épocas do ano.

**17. Análise de Lucratividade por Modelo de Carro e Revendedor:** Determine quais modelos de carro e revendedores são mais lucrativos com base nas margens de lucro.

**18. Análise de Preferências de Transmissão por Gênero:** Explore se há diferenças nas preferências de transmissão entre clientes de diferentes gêneros.

**19. Análise de Lealdade do Cliente:** Analise se os clientes tendem a comprar repetidamente da mesma marca ou revendedor ao longo do tempo.

**20. Análise de Correlação entre Características do Carro e Preço:** Investigação de possíveis correlações entre características específicas do carro, como tamanho do motor, tipo de transmissão ou cor, e o preço de venda.